API_KEY=88888888
CODECRAFT_BASE_URL=https://api.openai.com/v1
THIRD_PARTY_API_KEY=sk-aO0pwQDDHMA5GkNIv1pOvn2rIBTF6rHqmD0tXOgse2oDrNGkQsl1uTtlgdvJMOvC
OPENCODE_GO_API_KEY=sk-aO0pwQDDHMA5GkNIv1pOvn2rIBTF6rHqmD0tXOgse2oDrNGkQsl1uTtlgdvJMOvC